.heroText {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 70px;
}

.heroText article {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.text {
  color: var(--primary);
}

.btnRow {
  display: flex;
}

.tagline {
  color: var(--orange);
  margin: 0;
  font-weight: bold;
}

.img {
  filter: drop-shadow(2px 4px 6px black);
  z-index: -1;
  width: 100%;
}

.modalContainer {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 800px) {
  .heroText {
    flex-direction: column;
  }

  .heroText article {
    width: 100%;
    max-width: 600px;
    margin: 25px auto;
  }
}

@media only screen and (max-width: 500px) {
  .btnRow {
    flex-direction: column;
  }
}
