.heroText {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 70px;
}

.heroText article {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.text {
  color: var(--primary);
}

.button {
  display: inline-block;
  padding: 12px 22px;
  margin: 5px;
  background: var(--orange);
  border: none;
  color: white;
  border-radius: 11px;
  font-size: clamp(0.8rem, -0.875rem + 4vw, 1.15rem);
  font-weight: 200;
  cursor: pointer;
}

.button:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.btnRow {
  display: flex;
}

.tagline {
  color: var(--orange);
  margin: 0;
  font-weight: bold;
}

.img {
  filter: drop-shadow(2px 4px 6px black);
  z-index: -1;
}

@media only screen and (max-width: 800px) {
  .heroText {
    flex-direction: column;
  }

  .heroText article {
    width: 100%;
    max-width: 600px;
    margin: 25px auto;
  }
}
