.btn {
  margin-left: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
  top: -4px;
  background-color: var(--background);
  border: solid 1px var(--secondary-color);
  cursor: pointer;
  margin: auto;
}

.btn svg {
  fill: var(--secondary-color);
  height: 100%;
  width: 100%;
}
